<!-- resetpass.component.html -->

<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card login-form shadow-lg p-3 mb-5 bg-white rounded animate__animated animate__fadeIn">
    <div class="card-body">
      <h3 class="card-title text-center">Reset Password</h3>
      <div class="card-text">
        <form (ngSubmit)="onResetPassword()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control form-control-sm mt-2" [(ngModel)]="username" name="username" placeholder="Enter your username" required>
          </div>
          <div class="form-group">
            <label for="token">Token</label>
            <input type="text" class="form-control form-control-sm mt-2" [(ngModel)]="token" name="token" placeholder="Enter the token" required>
          </div>
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control form-control-sm mt-2" [(ngModel)]="password" name="password" placeholder="Enter your new password" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-3">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</body>